.homepage{
    padding-inline: 20px;
    margin-block: 20px 40px;
    text-align: center;
    .title{
        color: var(--theme-orange-600);
    }
    .img{
        display: none;
    }
    .largehidden{
        display: block;
      }  
    .btn{
        margin-inline: auto;
    }
}

@media (min-width: 899px){
    .homepage{
    padding-inline: 50px;
    display: grid;
    grid-template-columns: 1fr .6fr;
    gap: 5px;
    text-align: left;
    .largehidden{
        display: none;
      }  
  .img {
    display: block;
    margin-top: 50px;
}
.btn{
    margin-inline: 0;
}
}   
}