.products{
    padding: 20px 20px 40px;
    background-color: var(--theme-white);
    .caption{
        display: none;
    }
    .search{
        height: 40px;
        width: 80%;
        margin-block: 20px;
        margin-inline: auto;
        display: flex;
        padding-left: 10px;
        align-items: center;
        border-radius: 100vmax;
        border: 1px solid var(--theme-black-500);
        
        .searchInput{
        width: 100%;
        padding-left: 20px;
        font-size: 18px;
        border: none;
        color: black;
        background: transparent; 
        }
        .searchInput:focus-within, .searchInput:focus-visible{
            outline: 0;
        }
    }
    .search:focus-within, .search:focus-visible {
        outline: 2px solid var(--theme-black-500);
    }

    .col{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2.5rem;
    } 
    .bestselling{
        width: 100%;
        background-color: var(--theme-white-100);
        border-radius: 8px;
        padding: 8px 10px;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
       // align-items: center;
        .flexEnd{
            display: flex;
            align-self: flex-end;
        }
        .center{
            display: flex;
            flex-direction: column;
          align-items: center;
        }
        .rating{
            display: flex;
            justify-content: space-between;
            align-items: center;
        // justify-content: center;
        }
    }
}

@media (min-width: 899px){
    .products{
    background-color: var(--theme-white-100);
    padding-inline: 50px;
    .caption{
        display: block;
        text-align: center;
    }
    .search{
        display: none;
    }

    .col{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        // grid-template-columns: 1fr 1fr;  
        // gap: 2.5rem;
    } 

   .bestselling{
    background-color: var(--theme-white);
   }
}   
}