.cart{
    background-color: var(--theme-white-100);
    text-align: center;
    .col {
        display: grid;
    }
    // .cartbag1{
    //     padding: 40px 20px; 
    // }
    .description{
        background-color: var(--theme-white); 
        border-radius: 50px 50px 0 0;
    }
    .bagName {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }

    .bagPrice {
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
    }
    .bagdesc {
        font-weight: 400;
        font-size: 17.57px;
        line-height: 26px;
    }
    .color{
        display: none;
    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .plus{
        background-color: var(--theme-orange-600);
        border-radius: 100vmax;
        padding: 8px;
    }
    .showcase{
        display: none
    }
}

@media (min-width: 500px){
    .cart{
    padding-inline: 50px;
    display: grid;
    grid-template-columns: 1fr .6fr;
    gap: 5px;
    text-align: left;
    .col {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 2fr));
        gap: 2.5rem;
    }
    .cartbag1{
        color: var(--theme-blue-300);
        border-radius: 8px;
    }
  .img {
    display: block;
    margin-top: 50px;
}
.btn{
    margin-inline: 0;
}
}   
}